<div class="container mt-4">
  <h2>Employee List</h2>
  <button class="btn btn-primary mb-3" (click)="goToAdd()">Add Employee</button>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th><th>Name</th><th>Email</th><th>Department</th><th>Salary</th><th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.department}}</td>
        <td>{{emp.salary}}</td>
        <td>
          <button class="btn btn-warning btn-sm me-2" (click)="goToEdit(emp.id)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="deleteEmployee(emp.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

